<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.akuz.android.utmumrechner.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <instrumentation
        android:name="pl.polidea.instrumentation.PolideaInstrumentationTestRunner"
        android:label="Tests for Vitamin B5"
        android:targetPackage="de.akuz.android.utmumrechner" />
    <!-- <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="de.akuz.android.utmumrechner"></instrumentation> -->

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>