
/ActionBarSherlockLibrary/bin
/ActionBarSherlockLibrary/gen
/gestureImageView/bin
/gestureImageView/gen
/JakeWharton-ActionBarSherlock-436230d
key.store
/gestureImageView/target
/Vitamin B5 App/target
/gesture-imageview/bin
/gesture-imageview/target
/vitamin-b5-app/bin
/vitamin-b5-app/target
/vitamin-b5-test/bin
/vitamin-b5-test/target