
/ActionBarSherlockLibrary/bin
/ActionBarSherlockLibrary/gen
/gestureImageView/bin
/gestureImageView/gen
/JakeWharton-ActionBarSherlock-436230d
key.store
/gestureImageView/target
/Vitamin B5 App/target